.factura {
  text-align: center;
}

.tipoFactura {
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.pageContainer {
  width: 210mm; /* Ancho de la página A4 */
  height: 297mm;
  display: flex;
  flex-direction: column; /* Para que el contenido se ajuste verticalmente en la página */
  padding: 10mm; /* Espacio interno para el contenido */
}

.flexContainer {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.smallText {
  font-size: 10px;
}

.Columna {
  display: block;
}

.secondData {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.EndContainer {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.Concepto {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Esto mostrará "..." si el texto se desborda */
}

.LimitedWidthDiv {
  max-width: 300px; /* Establece el ancho máximo según tus preferencias */
  /* word-wrap: break-word; Divide las palabras para ajustarse al ancho del div */
}

.secondData p {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0; /* Establece el margen inferior en 0 para eliminar el espacio entre párrafos */
}

.firstContainer {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.printButton {
  display: block; 
  background-color: #000000; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  margin: 10px 0; 
  transition: background-color 0.3s; 
}

.printButton:hover {
  background-color: rgb(255, 255, 255); /* Cambiar color de fondo al pasar el mouse */
  color: black;
}

@media print {
  .printButton {
    display: none; /* Ocultar el botón en la impresión */
  }
}