
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300&family=Roboto+Mono:wght@600&display=swap');

.tipoFactura {
  font-size: 50px;
  font-weight: bold;
  border: 1px solid;
  padding: 10px;
  background-color: grey;
  color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
}

.negrita {
  font-weight: bold;
  font-family: 'Roboto Mono', sans-serif;
}

.divCliente,
.divDestinatario {
  margin-right: 20px;
}

.pageContainer {
  width: 210mm;
  height: 297mm;
  display: flex;
  flex-direction: flex;
  padding: 10mm;
  overflow: hidden;
  justify-content: space-between;
  }
  

.flexContainer {
  font-size: 14px;
  text-transform: uppercase;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.TopContainer {
  font-size: 13.5px;
  text-transform: uppercase;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align: left;
}

.MidContainer {
  font-size: 14px;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: space-around;
  align-items: start;
  min-height: 70mm;
}

.BottomContainer {
  font-size: 13px;
  /* text-transform: uppercase; */
  /* font-family: "Courier New", Courier, monospace; */
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* .EndContainer {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-around;
  text-align: left;
  width: 100%; 
} */

/* .rightContainer {
  display: flex;
  justify-content: right;
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px; 
} */

.smallText {
  font-size: 10.5px;
}

.mediumText {
  font-size: 12px;
}

.fixImgSize {
  width: auto;
  height: 150px;
  margin-bottom: 12px;
}

.printButton {
  display: block;
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  transition: background-color 0.3s;
}
@media print {
  .printButton {
    display: none; /* Ocultar el botón en la impresión */
  }
}


.LimitedWidthDiv {
  max-width: 300px; /* Establece el ancho máximo según tus preferencias */
  /* word-wrap: break-word; Divide las palabras para ajustarse al ancho del div */
}

.mainTable {
  font-size: 18px;
  font-weight: bold;
}

.Concepto {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Esto mostrará "..." si el texto se desborda */
}

.caba {
  font-size: 10px;
  margin-bottom: 0;
}

.head{
  display: flex;
  justify-content: space-around;
  align-items: center;
}